:root {
  --accent-color: #A7FFEB;
  --background-color: #121212;
  --card-color: rgba(255, 255, 255, 0.08);
  --font-A: normal;
  --font-B: 300;
  --zoom: 1.0;
  --font-family: 'Roboto Mono', monospace;
  --title-color: rgba(255, 255, 255, 1.0);
  --subtitle-color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color);
  zoom: var(--zoom);
}

body {
  width: 100%;
  margin: 40px 0px 0px 10px;
}

html {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  font-size: 16px;
  margin: 0px 0px 8px 0px;
  font-weight: var(--font-A);
  color: var(--subtitle-color);
  font-family: var(--font-family);
}

div {
  color: var(--subtitle-color);
}

footer {
  font-family: var(--font-family);
  font-size: 12px;
  color: var(--subtitle-color);
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  width: calc(100vw - 22px);
  padding-top: 12px;
}

a {
  color: var(--accent-color);
  height: 24px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}