:root {
  --accent-color: #6200EA;
  --background-color: #F5F5F5;
  --card-color: #FFFFFF;
  --font-A: normal;
  --font-B: 300;
  --zoom: 1.1;
  --font-family: 'Roboto', sans-serif;

  background-color: var(--background-color);
  zoom: var(--zoom);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
